body {
  padding: 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media(min-width:1350px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1300px !important;
  }
}

.app-container {
  .header-container {
    .homepage-container {
      .homepage-content {
        padding: 100px;
        position: relative;
        width: 50%;
        flex-direction: column;
        display: flex;
        gap: 30px;

        .title-1 {
          font-size: 35px;
          font-weight: 600;
        }

        .title-2 {
          font-size: 22px;
        }

        .title-3 {
          button {
            padding: 0 15px;
            border-radius: 5px;
            background: #303030;
            color: white;
            height: 40px;
            border: none;
            &:hover {
              background: black;
            }

          }

        }
      }
    }

    .btn-login {
      border-radius: 5px;
      padding: 0 15px;
      border: 1px solid #535353;
      margin-right: 15px;
      height: 40px;
    }

    .btn-signup {
      padding: 0 15px;
      border-radius: 5px;
      background: #303030;
      color: white;
      height: 40px;

      &:hover {
        background: black;
      }

    }

    .navbar {
      z-index: 1000;
      background-color: rgba(0, 0, 0, 0) !important;

      .nav-link {
        &.active {
          color: #00bfff;
        }
      }
    }
  }
}

video {
  position: fixed;
  bottom: 0;
  width: 100vw;
}