.register-container {
    display: block;

    .title {
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        color: pink;
    }

    .content-form {

        justify-content: center;

        .form-group {

            padding-bottom: 15px;

            label {
                font-size: 20px;
                color: greenyellow;
                padding-bottom: 3px;
            }

            input {
                width: 50%;

            }
        }

        .submit-register {
            button {
                display: inline-block;
                justify-content: center;
                cursor: pointer;
                width: 30%;
                height: 30%;
                &:hover{
                    background-color: black;
                    color: red;
                }
            }
        }
        .back{
            text-align: center;cursor: pointer;
        }

    }

}